<section class="login-section">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Your email</mat-label>
      <input
        type="email"
        matInput
        autocomplete="username"
        formControlName="email"
      />
      <mat-error
        *ngIf="
          loginForm.controls.email.hasError('email') &&
          !loginForm.controls.email.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <mat-label>Your password</mat-label>
      <input
        type="password"
        autocomplete="current-password"
        matInput
        formControlName="password"
      />
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="(isLoading$ | async) === false"
      type="submit"
      [disabled]="loginForm.invalid"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>

    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
