<mat-nav-list>
  <a
    *ngIf="!isAuth"
    mat-list-item
    routerLink="/singup"
    (click)="onToggleSidenav()"
  >
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Singup</span>
  </a>
  <a
    *ngIf="!isAuth"
    mat-list-item
    routerLink="/login"
    (click)="onToggleSidenav()"
  >
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a
    *ngIf="isAuth"
    mat-list-item
    routerLink="/training"
    (click)="onToggleSidenav()"
  >
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Trainig</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button style="cursor: pointer" (click)="logout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
